form>.check{
    color: green;
}

form>input:valid+.check, form>select:valid+.check, form>textarea:valid+.check{
    display: inline;
}

form>input:invalid+.check, form>select:invalid+.check, form>textarea:invalid+.check{
    display: none;
}

body{
    background-image: url("background.jfif");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.title{
    font: bold 50px 標楷體;
    padding: 50px;
    text-align: center;
}

.arc{
    border: 2px solid black;
    border-radius:10px; 
    margin-top:10%
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

